/*Buttons*/
/*links*/
/*h1 h2 h3 h4 h5
/*banner*/

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--black);
}

:root {
    --black: #2D2D2D;
    --white: #FFFFFF;
    --orange: #FFA66A;
    --pink: #FF4AB3;
    --blue: #06C4DA;
    --green: #D6EF49;
    --purple: #E8BDF5;
    --darkgreen: #00883F;
    --hover-green: #F1FFA2;
    --hover-pink: #FF95D2;
    --hover-blue: #81EBF8;
    --hover-black: #959595;
}



@keyframes gradient {               /*from https://dev.to/babib/amazing-pure-html-and-css-background-animations-4dim */
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.intro-heading-banner {             /*from https://dev.to/babib/amazing-pure-html-and-css-background-animations-4dim */
    background: linear-gradient(-45deg, var(--orange), var(--pink), var(--blue), var(--green));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/*.intro-heading-banner img {*/
/*    .intro-heading-banner img {*/
/*        width: 80%;*/
/*        height: 80%;*/
/*    }*/
/*}*/

.h1-and-image {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
}

.h1-and-image img {
    padding-bottom: 16px;
}

h1, h2, h3, p {
    text-align: center;
}

i {
    color: var(--white);
}

h1 {
    padding: 16px 0 16px 0;
    font-size: 32px;
}

h2 {
    font-size: 24px;
    padding: 16px 0 16px 0;
}

h3 {
    font-size: 20px;
    padding: 8px;
    color: var(--black);
}

p {
    font-size: 16px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 4px 8px 4px 8px;
    justify-items: center;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 4px 4px 0 0 var(--black);
    cursor: pointer;
    flex-wrap: nowrap;
}

button.see-more {
    background-color: var(--pink);
    margin: 16px 0 32px 0;
}

button.see-more:hover {
    background-color: var(--hover-pink);
}

button.read-full-post {
    background-color: var(--green);
    margin: 12px 0 12px 0;
}

button.read-full-post:hover {
    background-color: var(--hover-green);
}

#rfp-btn {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: none;
    background-color: var(--white);
    color: var(--black);
    text-transform: none;
    font-weight: normal;
    margin-top: 24px;
}

#rfp-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

