* {
    box-sizing: border-box;
    margin: 0;
}

.banner-carousel-container {
    width: 80%;

}

.carousel-content {
    display: flex;
    overflow: hidden;
}

.banner-post {
    flex: 0 0 auto;
    width: 33.33%; /* Adjust as needed */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.banner-post img {
    max-width: 100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


/* Styling for the dots */
.dots-container {
    text-align: center; /* Align the dots to the center */
    margin-top: 10px; /* Adjust the top margin as needed */
}

.dot {
    display: inline-block; /* Display the dots in a row */
    width: 10px; /* Set the width of each dot */
    height: 10px; /* Set the height of each dot */
    margin: 0 5px; /* Adjust the margin between dots */
    border-radius: 50%; /* Make the dots circular */
    background-color: #bbb; /* Default color of the dots */
}

.dot.active {
    background-color: #333; /* Color of the active dot */
}