* {
    box-sizing: border-box;
}

.banner-carousel-container {
    width: 80%;

}

.carousel-content {
    display: flex;
    overflow: hidden;
}

.banner-post {
    flex: 0 0 auto;
    width: 33.33%; /* Adjust as needed */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.banner-post img {
    max-width: 100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}