* {
    box-sizing: border-box;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.banner-carousel-container {
    max-width: 70%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 20px 0 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;    /* from https://getcssscan.com/css-box-shadow-examples */
    margin: 0 0 20px 0;
}

.carousel-content {
    display: flex;
    min-width: 100%;
    justify-content: center;
    overflow: visible;
}

.banner-post {
    width: 100%;
    text-align: center;
    border-radius: 4px;
}



.carousel-image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.banner-post img {
    max-width: 100%;
    max-height: 500px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;    /* from https://getcssscan.com/css-box-shadow-examples */
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    cursor: pointer;
}

button.prev-slide,
button.next-slide {
    height: 28px;
    margin: 32px;
}

button.prev-slide:hover,
button.next-slide:hover {
    background-color: var(--pink);
    color: var(--black);
}

.arrows-and-carousel-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.dots-container {
    text-align: center;
    margin: 12px 0 12px 0;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border-radius: 50%;
    background-color: var(--hover-black);
    cursor: pointer;
}

.dot:hover {
    background-color: var(--green);
}

.dot.active {
    background-color: var(--pink);
}

.blog-post {
    background-color: var(--white);
    margin: 16px;
    border-radius: 4px;
    padding: 12px;
    max-width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;    /* from https://getcssscan.com/css-box-shadow-examples */
}

.showing-posts {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
}

.post-image {
    max-width: 90%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
    cursor: pointer;
}

h1 {
    text-align: center;
    padding: 16px 0 16px 0;
    color: var(--white);
    text-transform: uppercase;
}

.title-on-post {
    padding: 20px 0 20px 0;
}

.recent-posts-heading {
    color: var(--black);
    font-size: 24px;
    margin: 16px 0 16px 0;
    padding: 16px 0 16px 0;
}

.animated-text{                         /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    color: var(--black);
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0 16px 0;
    min-width: 280px;
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--black);
    box-shadow: 4px 4px 0 0 var(--black);
}

.animated-text span{                    /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    position: relative;
}

.animated-text span::before{                /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    content: "Youtuber";
    color: var(--pink);
    animation: words 20s infinite;
}

.animated-text span::after{             /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: var(--white);
    border-left: 2px solid var(--pink);
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {                     /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {                      /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    0%,20%{
        content: "I'm Line";
    }
    21%,40%{
        content: "I'm a developer";
    }
    41%,60%{
        content: "UX designer";
    }
    61%,80%{
        content: "entrepreneur";
    }
    81%,100%{
        content: "Welcome!";
    }
}

@keyframes typing {                     /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

@media (min-width: 400px) {
    .blog-post {
        margin: 16px;
        padding: 12px;
        max-width: 300px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        max-height: 100%;
    }

    .title-on-post h3 {
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .showing-posts {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .post-image {
        height: 200px;
        width: 300px;
        object-fit: cover;

    }
}

@media (min-width: 900px) {
    .carousel-content {
        min-width: 0;
    }
}